.nav {
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  background: rgba(26, 26, 34, 0.303);
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background: linear-gradient(var(--color-primary), var(--color-primary))
      padding-box,
    linear-gradient(
        45deg,
        var(--color-secondary-purple),
        var(--color-secondary-green)
      )
      border-box;
  padding: 0.5rem 1rem;
  width: 95%;
  margin: 20px auto;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.site-logo {
  font-size: 20px;
  margin-left: 5px;
}

.search {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0 0 0 0.5rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  border: 0.2px solid rgba(255, 255, 255, 0.1);
}

.search > input {
  border: none;
  height: 2rem;
  background: transparent;
  outline: none;
  color: var(--color-light);
  margin-left: 5px;
}

.icon {
  font-size: 20px;
}

/* ---------------- serch box---------------------- */

.navSearchBox {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.dataresult {
  width: 300px;
  height: 200px;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 4rem;
  right: 3rem;
  border: 1px solid var(--color-light);
  border-radius: 5px;
}

.dataresult::-webkit-scrollbar {
  display: none;
}

.dataresult .dataItem {
  color: var(--color-light);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.dataItem p {
  margin-left: 10px;
}
