.newsbox {
  background: linear-gradient(
    45deg,
    var(--color-secondary-purple),
    var(--color-secondary-green)
  );
  padding: 2rem;
  border-radius: 1rem;
}

.trending {
  background: var(--color-light);
  width: fit-content;
  color: var(--color-primary);
  padding: 5px 10px;
  box-shadow: 0 0 10px var(--color-light);
  margin-bottom: 1rem;
  border-radius: 5px;
}

.trending > p {
  font-size: 0.5rem;
  font-weight: 600;
}

.newsbox > p {
  margin: 1rem 0;
  font-size: 0.8rem;
}

.dots {
  font-size: 8px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
