@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

:root {
  --color-primary: #121212;
  --color-grey: rgba(26, 26, 34, 0.303);
  --color-secondary-purple: rgb(126, 140, 224);
  --color-secondary-green: #00897b;
  --color-secondary-red: #c62828;
  --color-light: #fff;
  --container-width-lg: 80%;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --box-shadow-purple: rgb(126, 140, 224, 0.35) 0px 5px 15px;
}

body {
  background: var(--color-primary);
  color: var(--color-light);
}

li {
  list-style: none;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-light);
}
